<html style="margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline">
<head></head>
<body style="margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline; line-height:1; width:600px; margin-top:1em; margin-bottom:1em; margin-left:auto; margin-right:auto" width="600">
<div style="margin:0; padding:0; border:0; font:inherit; vertical-align:baseline; font-family:Helvetica, Arial, sans-serif, sans; font-size:14px; line-height:1.3em; background:#fff; width:600px" width="600">
    <div style="margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline">
        <p style="padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline; margin:1em 0">Hello $patientProfile.getFullName(),</p>
        <p style="padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline; margin:1em 0">
            $volunteerUserProfile.getFullName() has volunteered to drive
            you to your appointment on <strong style="margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline; font-weight:bold">$appointmentDate</strong>
            at <strong style="margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline; font-weight:bold">$appointmentTime</strong>
            at <strong style="margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline; font-weight:bold">$appointmentAddress</strong>.
            They will arrive to pick you up at $pickupTime.
        </p>

        #if(!$volunteerUserProfile.getComments().isEmpty())
        <p style="padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline; margin:1em 0">
            $volunteerUserProfile.getFullName() has provided some comments:
        </p>
        <blockquote style="margin: 1em; padding:0.5em 1em; color:#c09853; background:#fcf8e3; border:1px solid #fbeed5; font:inherit; font-size:0.9em; vertical-align:baseline; margin:1em 2em">
            $patientProfile.getComments()
        </blockquote>
        #end
    </div>
</div>
</body>
</html>