<!DOCTYPE html>
<html>
#set($isVolunteer = $userProfile.getType().name() == "VOLUNTEER")
#if ($isVolunteer)
    #set($pageTitle = "Volunteer Profile")
#else
    #set($pageTitle = "Patient Profile")
#end
<head>
    <title>$pageTitle</title>
    <link href="/stylesheets/uni-form.css" media="all" rel="stylesheet" />
    <link href="/stylesheets/default.uni-form.css" media="all" rel="stylesheet" />
    <link href="/stylesheets/main.css" media="all" rel="stylesheet" />

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJpckIeO5jh3I51TyNSeDBy8rRE9BGRhk&sensor=false"
            type="text/javascript"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/uni-form.jquery.min.js"></script>
    <script type="text/javascript" src="/js/parsley.min.js"></script>
    <script type="text/javascript" src="/js/userProfile.js"></script>
</head>
<body>
    <div class="content">
        <div class="top-bar">
            <h1>$pageTitle</h1>
            <div class="controls">
                $userProfile.getEmail() &nbsp; <a href="$logoutUrl">logout</a>
            </div>
        </div>
        <form class="uniForm parsleyForm" method="post">
            <input type="hidden" name="userType" value="$userProfile.getType().name()" />
            <fieldset class="inlineLabels">
                <div class="ctrlHolder">
                    <label for="name">Full Name</label>
                    <div class="inputHolder">
                        <input type="text" id="name" name="name" class="textInput" data-required="true"
                               value="$userProfile.getFullName()" />
                    </div>
                </div>
                <div class="ctrlHolder">
                    <label for="email">Email Address</label>
                    <div class="inputHolder">
                        <input type="text" id="email" name="email" class="textInput" data-trigger="change"
                               data-required="true" data-type="email" value="$userProfile.getEmail()"/>
                        <p class="formHint">Use an email address you check often</p>
                    </div>
                </div>
                #if ($isVolunteer)
                <div class="ctrlHolder">
                    <label for="maximumDistance">Maximum Distance (miles)</label>
                    <div class="inputHolder">
                        <input type="number" min="1" id="maximumDistance" name="maximumDistance"
                               class="textInput" data-required="true"
                               value="$volunteerProfile.getMaximumDistanceMiles()" />
                        <p class="formHint">The approximate maximum distance you are willing to drive</p>
                    </div>
                </div>
                #end
                <div class="ctrlHolder">
                    <label for="location">Home Address</label>
                    <div class="inputHolder">
                        <textarea id="location" name="location" data-trigger="change nokey" data-required="true"
                                  data-location="true">$userProfile.getAddress()</textarea>
                        <div id="map-canvas"></div>
                    </div>
                </div>
                <div class="ctrlHolder">
                    <label for="comments">Comments</label>
                    <textarea id="comments" name="comments">$userProfile.getComments()</textarea>
                    <p class="formHint">Add any notes about accessibility, mobility, etc.</p>
                </div>
                <div class="buttonHolder">
                    <button type="submit" class="primaryAction">Save</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>