body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin: 0;
}

.content {
    width: 45em;
    padding: 1em 4em;
    margin-left: auto;
    margin-right: auto;
}

.top-bar {
    margin: 1.7em 0;
}

.top-bar h1 {
    display: inline-block;
    margin: 0;
    font-size: 1.7em;
}

.top-bar .controls {
    display: inline-block;
    float: right;
    line-height: 1.9;
}

.controls .username {
    margin-right: 1em;
}

.controls a {
    margin-left: 5px;
    text-decoration: none;
}

h1 {
    margin: 1em 0;
}

.primary-button {
    display: inline-block;
    text-align: center;
    padding: 16px 35px;
    line-height: inherit;
    font: inherit;
    background: #254a86;
    border-radius: 4px;
    border: 1px solid #163362;
    color: #eee;
    cursor: pointer;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
}

.primary-button:hover {
    background: #103572;
    border: 1px solid #225cbb;
}

.create-user-container {
    line-height: 2;
    padding-top: 2em;
}

.create-user-container .primary-button {
    margin-left: 110px;
}

textarea {
    line-height: 1.5;
    resize: none;
}

.inputHolder {
    float: left;
    width: 64%;
}

.uniForm input, .uniForm textarea {
    font-family: inherit;
    font-size: 13px;
}

.inputHolder input, .inputHolder textarea {
    width: 100% !important;
}

.inputHolder .formHint {
    margin-left: 0 !important;
}

.inlineLabels .buttonHolder {
    background: #fff;
    text-align: center;
}

input.parsley-success, textarea.parsley-success {
    color: #468847 !important;
    background-color: #DFF0D8 !important;
    border: 1px solid #D6E9C6 !important;
}

input.parsley-error, textarea.parsley-error {
    color: #B94A48 !important;
    background-color: #F2DEDE !important;
    border: 1px solid #EED3D7 !important;
}

ul.parsley-error-list {
    font-size: 0.85em;
    margin: 2px;
    list-style-type: none;
}

ul.parsley-error-list li {
    line-height: 0.85em;
}

#location {
    height: 3em;
}

#comments {
    height: 6em;
}

#map-canvas {
    width: 100%;
    height: 250px;
    margin-top: 1em;
    float: left;
    padding: 3px;
}
