<!DOCTYPE html>
<html>
#set($pageTitle = "Pickup Declined")
<head>
    <title>$pageTitle</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/main.css" media="all" rel="stylesheet" />
</head>
<body>
    <div class="content">
        #parse("site/topBar.vm")

        <div class="status-block">
            Thanks for getting back to us. We'll try to find someone else to drive
            $patientProfile.getFullName() to their appointment at $appointmentAddress.

            <div class="status-block-actions">
                <a href="/">Return to profile</a>
            </div>
        </div>
    </div>
</body>
</html>