<!DOCTYPE html>
<html>
#set($isVolunteer = $userProfile.getType().name() == "VOLUNTEER")
#if ($isVolunteer)
    #set($pageTitle = "Volunteer Profile")
#else
    #set($pageTitle = "Patient Profile")
#end
<head>
    <title>$pageTitle</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/uni-form.css" media="all" rel="stylesheet" />
    <link href="/stylesheets/default.uni-form.css" media="all" rel="stylesheet" />
    <link href="/stylesheets/available.min.css" media="all" rel="stylesheet" />
    <link href="/stylesheets/main.css" media="all" rel="stylesheet" />

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJpckIeO5jh3I51TyNSeDBy8rRE9BGRhk&sensor=false"
            type="text/javascript"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/uni-form.jquery.min.js"></script>
    <script type="text/javascript" src="/js/parsley.min.js"></script>
    <script type="text/javascript" src="/js/available.min.js"></script>
    <script type="text/javascript" src="/js/userProfile.js"></script>
</head>
<body>
    <div class="content">
        #parse("site/topBar.vm")

        #if ($messageClass && $message)
            <div class="alert alert-$messageClass">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                $message
            </div>
        #end

        <form class="uniForm parsleyForm" method="post">
            <input type="hidden" name="userType" value="$userProfile.getType().name()" />
            <fieldset class="inlineLabels">
                <div class="ctrlHolder">
                    <label for="name">Full Name</label>
                    <div class="inputHolder">
                        <input type="text" id="name" name="name" class="textInput" data-required="true"
                               value="$esc.html($userProfile.getFullName())" />
                    </div>
                </div>
                <div class="ctrlHolder">
                    <label for="email">Email Address</label>
                    <div class="inputHolder">
                        <input type="text" id="email" name="email" class="textInput" data-trigger="change"
                               data-required="true" data-type="email" value="$esc.html($userProfile.getEmail())"/>
                        <p class="formHint">Use an email address you check often</p>
                    </div>
                </div>
                #if ($isVolunteer)
                <div class="ctrlHolder">
                    <label for="maximumDistance">Maximum Distance (miles)</label>
                    <div class="inputHolder">
                        <input type="number" min="1" id="maximumDistance" name="maximumDistance"
                               class="textInput" data-required="true"
                               value="$esc.html($volunteerProfile.getMaximumDistanceMiles())" />
                        <p class="formHint">The approximate maximum distance you are willing to drive</p>
                    </div>
                </div>
                <div class="ctrlHolder">
                    <label for="availability">Availability</label>
                    <div class="inputHolder">
                        <input type="hidden" min="1" id="availability" name="availability"
                               value="$esc.html($availability)" />
                        <div id="availabilitySelector"></div>
                        <p class="formHint">
                            Click a white square and drag out a rectangle to mark a time
                            period as available for pickups. Click and drag from an available
                            square to unmark a time period.
                            Press escape to cancel marking an interval.
                        </p>
                    </div>
                </div>
                #end
                <div class="ctrlHolder">
                    <label for="location">Home Address</label>
                    <div class="inputHolder">
                        <textarea id="location" name="location" data-trigger="change nokey" data-required="true"
                                  data-location="true">$esc.html($userProfile.getAddress())</textarea>
                        <div id="map-canvas"></div>
                    </div>
                </div>
                <div class="ctrlHolder">
                    <label for="comments">Comments</label>
                    <textarea id="comments" name="comments">$esc.html($userProfile.getComments())</textarea>
                    <p class="formHint">Add any notes about accessibility, mobility, etc.</p>
                </div>
                <div class="buttonHolder">
                    <button type="submit" class="primary-button">Save</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>