<!DOCTYPE html>
<html>
<head>
    <title>Create a Profile</title>
    <link href="/stylesheets/main.css" media="all" rel="stylesheet" />
</head>
<body>
    <div class="content">
        <div class="top-bar">
            <h1>Create a Profile</h1>
            <div class="controls">
                $userProfile.getEmail() &nbsp; <a href="$logoutUrl">logout</a>
            </div>
        </div>
        <p>
            Welcome to VTNCloud! This site connects patients in the VA Health system with volunteers
            who can help drive them to their medical appointments. Click the link below that
            describes you to sign up and get involved!
        </p>
        <div class="create-user-container">
            <a href="/view/profile/?userType=PATIENT">I am a patient</a>
            <a href="/view/profile/?userType=VOLUNTEER">I am a volunteer</a>
        </div>
    </div>
</body>
</html>