<?xml version="1.0" encoding="utf-8"?>
<web-app
        version="2.5"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>com.sheepdog.mashmesh.servlets.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProfile</servlet-name>
        <servlet-class>com.sheepdog.mashmesh.servlets.EditUserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accessData</servlet-name>
        <servlet-class>com.sheepdog.mashmesh.servlets.AccessDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apiResources</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.config.feature.DisableWADL</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.sheepdog.mashmesh.resources</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>clearDriveDebug</servlet-name>
        <servlet-class>com.sheepdog.mashmesh.debug.ClearDriveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createProfileDebug</servlet-name>
        <servlet-class>com.sheepdog.mashmesh.debug.CreateUserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>taskNotification</servlet-name>
        <servlet-class>com.sheepdog.mashmesh.tasks.SendNotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>taskSnapshotToDrive</servlet-name>
        <servlet-class>com.sheepdog.mashmesh.tasks.UpdateDriveTask</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProfile</servlet-name>
        <url-pattern>/view/profile/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accessData</servlet-name>
        <url-pattern>/data/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apiResources</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clearDriveDebug</servlet-name>
        <url-pattern>/debug/clear-drive/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createProfileDebug</servlet-name>
        <url-pattern>/debug/create-profile/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>taskNotification</servlet-name>
        <url-pattern>/tasks/notification/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>taskSnapshotToDrive</servlet-name>
        <url-pattern>/tasks/snapshot/</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>requireProfileFilter</filter-name>
        <filter-class>com.sheepdog.mashmesh.servlets.RequireProfileFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>requireProfileFilter</filter-name>
        <url-pattern>/view/*</url-pattern>
    </filter-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>any</web-resource-name>
            <url-pattern>/tasks/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
